.loginPageBody {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100svh;
  background: radial-gradient(rgb(5, 64, 65) 20%, rgb(1, 26, 37));
  background-repeat: no-repeat;
}
