.button {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  border-radius: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 16px;
}
